<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
  <head>
    <title><%= AppConfig.title %></title>
    <meta http-equiv="Content-Type" content="text/html; charset=utf8" />
    
    <%= javascript_include_tag "/jquery/js/jquery-1.3.2.min.js",
                              "/jquery/js/jquery-ui-1.7.2.custom.min.js",
                              "/jquery/js/jquery.cookie.js",
                              "/jquery/js/jquery.ba-dotimeout.min.js",
                              "/jquery/js/jquery.form.js" %>
    <%= stylesheet_link_tag "/jquery/css/#{AppConfig.jquery_theme}/jquery-ui-1.7.2.custom.css" %>
    
    <%= stylesheet_link_tag :all %>
    <%= javascript_include_tag "ui" %>
  </head>

  <body>
    <div id="header">
      <h1><%= AppConfig.title %></h1>
    </div>
    
    <%= render :partial => 'portlet_bar' %>
    
    <div class="tabs">
      <ul>
        <% for plan in @plans -%>
          <li><%= link_to h(plan.name), plan_path(plan), :title => "plan-#{plan.id}" %></li>
        <% end -%>
        <li class="tab-newplan"><a href="<%= new_plan_path %>" title="newplan"><span class="ui-icon ui-icon-plusthick">New</span>&nbsp;&nbsp;&nbsp;&nbsp;</a></li>
      </ul>
    </div>
  </body>
</html>
