<% form_for @course do |f| %>

<p>
  <strong>Code:</strong>
  <%= f.text_field :code, :size => 10 %>
</p>

<p>
  <strong>Name:</strong>
  <%= f.text_field :name, :size => 50 %>
</p>

<p>
  <strong>Offered:</strong>
  <%= f.text_field :offered, :size => 3 %>
</p>

<p>
  <strong>Description:</strong><br />
  <%= f.text_area :long_description, :cols => 80, :rows => 12 %>
</p>

<h3>Course Requirements</h3>

<div class="course_requirements">
  <%= render :partial => "course_requirements/form", :collection => @course.course_requirements, :as => :course_requirement %>
</div>

<p>
  [ <%= link_to "+", "#", :onclick => "$('.course_requirement_template>*').clone(true).appendTo('.course_requirements'); enableAutocomplete(); return false" %> ]
</p>

<%= submit_tag(@course.new_record? ? "Create Course" : "Update Course") %>

<% end %>

<div class="course_requirement_template template">
  <%= render :partial => "course_requirements/form", :locals => { :course_requirement => @course.course_requirements.build } %>
</div>

<script type="text/javascript">
  function enableAutocomplete() {
    $(".course_requirements .autocomplete_courses:not(.autocomplete_enabled)").autocomplete("/courses/autocomplete", {
      multiple: true, formatItem: function(row) { return "<strong>"+row[0]+"</strong><br /><small>"+row[1]+"</small>"; }
    }).addClass("autocomplete_enabled");
  }
  
  $(enableAutocomplete);
</script>