<%= hidden_field_tag :course_id, @course.id %>

<p><strong><%=h @course.code %></strong><br />
  <%=h @course.name %></p>

<verbatim><%=h @course.long_description %></verbatim>

<p>(<%= link_to "source", @course.url %>)</p>