.content
  %h3= @course.code
  %p
    %strong= @course.name
    %br
    = "Offered: #{@course.offered}"
  
  :markdown
    #{@course.description}
  
  %p
    %strong Requirements:
    
  %ul
    - for requirement in @course.requirements_data
      %li= format_requirement(requirement)
  
- unless request.xhr?
  %p.links<
    = link_to "All Courses", [@course.catalogue, :courses]
    = link_to "Edit", [:edit, @course] if can? :manage, @course
    = link_to "Delete", @course, :method => :delete if can? :manage, @course
