- title @plan.name

.bubbles
  .search.bubble
    %h3 Search
    %form
      %input
  
    .results

  .bubble
    %h3 Trash
    .trash

.courses
  - for term in @plan.terms
    %div(class="#{term.season} term" data-id="#{term.id}")
      %h3= term.name
      - for cm in term.course_memberships.sort_by { |cm| cm.course.code }
        .course(data-id="#{cm.course.id}" class="#{'conflict' if @conflicts.include?({ :course_id => cm.course.id, :term_id => cm.term.id })}")
          %strong= cm.course.code
          = cm.course.name

%p(style="clear:both")
