- title @plan.name

.search
  %h3 Search
  %form
    %input(value="Linear Algebra")
  
  - for course in Course.all
    .course(data-id="#{course.id}")
      %strong= course.code
      = course.name

.courses
  - for term in @plan.terms
    %div(class="#{term.season} term" data-id="#{term.id}")
      %h3= term.name
      - for course in term.courses
        .course
          %strong= course.code
          = course.name


%p(style="clear:both")
