<li><% if course_requirement.prerequisite? and course_requirement.number == course_requirement.course_group.courses.size %>
  prerequisite: <%= sentence_with_links course_requirement.course_group.courses, :code %>
<% elsif course_requirement.prerequisite? %>
  prerequisite: <%= course_requirement.number %> of <%= sentence_with_links course_requirement.course_group.courses, :code %>
<% elsif course_requirement.corequisite? and course_requirement.number == course_requirement.course_group.courses.size %>
  corequisite: <%= sentence_with_links course_requirement.course_group.courses, :code %>
<% elsif course_requirement.corequisite? %>
  corequisite: <%= course_requirement.number %> of <%= sentence_with_links course_requirement.course_group.courses, :code %>
<% elsif course_requirement.antirequisite? %>
  antirequisite: <%= sentence_with_links course_requirement.course_group.courses, :code %>
<% end %></li>